.icon-download { background-image: url(png/-download.png); background-repeat: no-repeat; }

.icon-send { background-image: url(png/-send.png); background-repeat: no-repeat; }

.icon-view { background-image: url(png/-view.png); background-repeat: no-repeat; }